body {

}
/*style for bar*/
div.svg {
    shape-rendering: crispEdges;
    width: 800px;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.axis path {
    fill: none;
    stroke: #bbb;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #555;
}

.axis line {
    stroke: #e7e7e7;
    shape-rendering: crispEdges;
}
.axis .axis-label {
    font-size: 14px;
}

.line, .line_forecast {
    fill: none;
    stroke-width: 1.5px;
}

.dot {
    /* consider the stroke-with the mouse detect radius? */
    stroke: transparent;
    stroke-width: 10px;
    cursor: row-resize;
}
.dot:hover {
    stroke: rgba(68, 127, 255, 0.3);
}
.bar .axis line {
    stroke: #fff;
}
.bar .axis path {
    stroke: #fff;
}
/*** custom checkboxes ***/

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
}

input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

h2{
    font-size: 30px;
}
h4{
    font-size: 17px;
    min-width: 98px;
}
.input-sm {

}
.padding2 {
    padding-left: 2px;
    padding-right: 2px;
}
.chart_header {
    padding-left: 50px;
}

.fa-select {
    font-family: 'FontAwesome', 'Helvetica';
}

.top{
    margin-top: 20px;
}
.table_row{
    margin: 5px 0px;
}
.table_row .label{
    font-weight: normal;
}
.text_row{
    float: right;
    padding: 1px 10px;
}
.bld{
    font-weight: bold;
}
.persentage{
    width: 70px;
}
.form-group label {
    float: left;
    text-align: left;
    font-weight: normal;
}

.form-group select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.now{
    float: right;
    font-size: 20px;
    font-weight: bold;
}.after{
     float: right;
     font-size: 20px;
     font-weight: bold;
 }