<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Калькулятор сбережений</title>
    <style>
        @font-face {
            font-family: 'FontAwesome';
            src: url('fonts/fontawesome-webfont.ttf');
            font-weight: normal;
            font-style: normal;
        }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap/custom/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/bootstrap-checkbox/build.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<div class="container" ng-controller="LineCtrl">

    <div class="row">
        <div class="col-xs-5 col-md-4">
            <h2><strong>Прогноз сбережений</strong></h2>
            <!--<a href="draggable.html">draggable</a> <a href="simple-chart.html">simple-chart</a> <a href="zoom.html">zoom</a>-->
        </div>
        <div class="col-xs-5 col-md-6 top">
            <div class="checkbox checkbox-primary">
                <input id="checkbox1" type="checkbox" ng-model="checked" ng-change="onCheckChange()">
                <label for="checkbox1">
                    С вкладами
                </label>
            </div>
        </div>
        <div class="col-xs-2 col-md-2 top form-group">
            <label for="selectCurrency">Моя валюта
                <select class="input  btn-primary form-control fa-select" id="selectCurrency"
                        ng-options="item as item.icon for item in makeOptions() track by item.id"
                        ng-model="value"
                        ng-change="onValueChange()"
                        >
                </select>
            </label>
                <!--<div selector ng-model="value" ng-change="onValueChange()"></div>-->
            <!--<select class="input-sm form-control" >
                <option><i class="fa fa-rub"></i></option>
            </select>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <tr class="row">
                <table class="table bld">
                    <thead>
                    <tr>
                        <td><h4><strong>Сбережения</strong></h4></td>
                        <td><h4><strong>В моей валюте, </strong><span class="fa-select" ng-bind-html="currency.icon | to_trusted"></span></h4></td>
                        <td><h4  ng-disabled="!checked"><strong>Ставки вкладов, %</strong></h4></td>
                    </tr>

                    </thead>
                    <tbody>

                    <tr>
                        <td>
                            <div class="row table_row" ng-repeat="item in d3Data">
                                <div class="col-md-3 padding2">
                                    <label class="label fa-select" ng-style="myStyle={'background-color':item.color}"
                                           ng-bind-html="item.icon | to_trusted"></label>
                                </div>
                                <div class="col-md-9 padding2">
                                    <input type="text" class="input-sm form-control" id="sum{{item.id}}"
                                           placeholder="введите сумму" ng-model="item.val">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row table_row" ng-repeat="item in d3Data">
                                <div class="text_row">{{division(item.val, item.coef)}}</div>
                            </div>
                        </td>
                        <td>
                            <div class="row table_row" ng-repeat="item in d3Data">
                                <input type="text" class="input-sm form-control persentage"  ng-model="item.pers" ng-disabled="!checked">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <button type="button" class="btn btn-info" ng-click="addCurrency()"> + Валюта</button>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        <!--<div class="col-md-4">
            <div class="row">
                <div class="col-md-4">
                    <h4><strong>Сбережения</strong></h4>
                    <div class="" ng-repeat="item in d3Data">
                        <div class="col-md-3 padding2">
                            <label class="label fa-select" ng-style="myStyle={'background-color':item.color}" ng-bind-html="item.icon | to_trusted"></label>
                        </div>
                        <div class="col-md-9 padding2">
                            <input type="text" class="input-sm form-control" id="sum{{item.id}}" placeholder="введите сумму" ng-model="item.val">
                        </div>
                    </div>
                    &lt;!&ndash;<div class="col-md-9 input-group">
                        <input type="text" class="form-control" id="sum{{item.id}}" placeholder="введите сумму" ng-model="item.val">
                        &lt;!&ndash;<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="d3Data.splice($index, 1)" aria-label="Remove">X</button></span>&ndash;&gt;
                    </div>&ndash;&gt;

                    <div class="form-group">
                        <button type="button" class="btn btn-info" ng-click="addCurrency()">  + Валюта</button>
                    </div>
                </div>

                <div class="col-md-4">
                    <h4><strong>В моей валюте, </strong><span class="fa-select" ng-bind-html="currency.icon | to_trusted"></span></h4>
                    <div class="col-md-9" ng-repeat="item in d3Data">
                        <p>{{division(item.val, item.coef)}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4><strong>Ставки вкладов, %</strong></h4>
                    <div class="" ng-repeat="item in d3Data">
                        <input type="text" class="input-sm form-control" value="{{item.pers}}" ng-disabled="!checked">
                    </div>
                </div>
            </div>
        </div>-->
        <div class="col-md-4">
            <div class="chart_header">
                <h4><strong>История  и прогноз курсов<br><small>Перетащите точку, чтобы изменить прогноз</small></strong></h4>
            </div>
            <d3-charts id="chart1" class="chart" selected="colors" forecast="forecast" data="d3Data" style="width:350px; height:240px" ng-model="currency" on-click="d3OnDrag(item)"></d3-charts>
        </div>
        <div class="col-md-4">

                <d3-bars id="bar1" class="bar" pers="checked" data="d3Data" forecast="forecast" label="name" style="width:350px; height:316px" ></d3-bars>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>

<script src="js/app.js"></script>
<script src="js/services/d3.js"></script>
<script src="js/controllers/lineCtrl.js"></script>
<script src="js/directives/d3Bar.js"></script>
<script src="js/directives/d3Chart.js"></script>

</body>
</html>
